<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=data.name %></title>
    <style>
      input {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <form action="/bike/<%=data.id%>/edit" method="post">
      <label for="name">Enter Name :</label>
      <input
        type="text"
        required
        name="name"
        placeholder="Enter bike name"
        value="<%=data.name  %>"
      />
      <br />
      <label for="price">Enter price :</label>
      <input
        type="number"
        name="price"
        placeholder="Enter bike price in rupees"
        min="0"
        value="<%=data.price  %>"
      />
      <br />
      <label for="color">Enter color :</label>
      <input
        type="type"
        name="color"
        placeholder="enter bike color"
        value="<%=data.color  %>"
      />
      <br />
      <label>choose one :</label>
      <input
        type="radio"
        name="stock"
        id="stock"
        value="true"
        <%
        if
        (data.Instock)
        {
        %>
      checked<% } %> /><label for="stock">stock</label>
      <input
        type="radio"
        name="stock"
        id="Out of stock"
        value="false"
        <%
        if
        (!data.Instock)
        {
        %>
      checked<% } %> /><label for="Out of stock">Out of stock</label>
      <br />
      
      <button>submit</button>
    </form>
  </body>
</html>
