<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=data.name%></title>
  </head>
  <body>
    <h2>More details about <%= data.name%></h2>

    <p>Name :<%=data.name%></p>
    <p>Price :<%= data.price%></p>
    <p>Color :<%=data.color%></p>
    <p>Instock :<%=data.Instock%></p>

    <a href="/bikes">Back to Bikes page</a>
  </body>
</html>
